<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>틀렸습니다!!!</title>
</head>
<body>
    <div class="container">
        <div class="main">
            <h1>이미 편지를 쓰셨거나 코드가 틀리셨습니다!!!</h1>
            <a href="/">                
                <input type="button" value="돌아가기" class="button">
            </a>
        </div>
    </div>

</body>

<style>
        @font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
    body, html {
        overflow-x: hidden;
    }

    body {
        font-family: 'KyoboHand';
        display: table;
        margin: 0 auto;
    }

    .container {
        height: 100%;
        display: table-cell;
        vertical-align: middle;
    }

    .main {
        padding-top: 50%;
        text-align: center;
        margin: auto 0;
    }

    h1 {
        font-size: 35px;
    }
    .button {
        text-align: center;
        font-family: 'KyoboHand';
        font-size: 25px;
        line-height: 10px;
        width: 186px;
        height: 40px;
        border: 2px solid dodgerblue;
        border-radius: 4px;
        margin: 8px 0;
        outline: none;
        padding: 8px;
        box-sizing: 8px;
        transition: .3s;
        color: white;
        background-color: dodgerblue;
    }

    .buuton:hover {
        border-color: dodgerblue;
        box-shadow: 0 0 8px 0 dodgerblue;
    }
</style>
</html>